{% extends 'layout/layout1.html' %}

{% load staticfiles %}


{% block head %}
     <link href = "{% static 'css/dashboard.css' %}" rel="stylesheet">
     <link href = "{% static 'css/overview_dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    {% include "navbar_loggedin.html" %}
    <h2 id ="underconstruction"> This page is under construction. </h2>
    <!--
    <div id = "buttondiv">
    <a href="/accounts/profile/" class="btn btn-info pull-right" role="button">Add a device</a>
    <a href="/accounts/deletedevice/" class="btn btn-info pull-right" role="button">Delete a device</a>
    </div>
    -->
    {% include "userprofile/leftside_device_list.html" %}-->
    <!--
    <div id = "overview_dashboard">
    <p> Dashboard </p>
    </div>
    -->

{% endblock %}