<nav class="navbar navbar-default nav-logged-out navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <p class="logo-lg logo-logged-out"><b>Wibi</b>Smart</p>
    </div>
    <div class="collapse navbar-collapse">
        <form class="navbar-form navbar-right">

          <a href='{% url "login" %}' type="submit" class = "btn btn-primary navbar-btn nav-logged-out-btn">LOGIN</a>
          <a href='{% url "register" %}' class = "btn btn-primary navbar-btn nav-logged-out-btn" type="submit">SIGN UP</a>
      </form>
    </div>










  </div><!-- /.container-fluid -->
</nav>