{% extends 'layout/layout1.html' %}
{% load staticfiles %}

{% block head %}
     <link href = "{% static 'css/profile_containers.css' %}" rel="stylesheet">
     <link href = "{% static 'css/dashboard.css' %}" rel="stylesheet">
     <link href = "{% static 'css/overview_dashboard.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    {% include "navbar_loggedin.html" %}
    {% include "userprofile/leftside_device_list.html" %}

    {% if alert %}
        <div class='alert alert-danger' role='alert'>{{alert}}</div>
    {% endif %}


    <form class = "myforms" action = "/accounts/profile/" method = "post"> {% csrf_token %}
        {% include "userprofile/profile_containers.html" %}
    </form>

    <div class = "myforms" > {% csrf_token %}
        {% include "userprofile/profile_container_mydevices.html" %}
    </div>

    <form class = "myforms" action = "/accounts/profile/deleteaccount" method = "post"> {% csrf_token %}
        {% include "userprofile/profile_container_account.html" %}
    </form>






{% endblock %}