<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class = "active"><a href="">Overview</a></li>
            </ul>
              <ul class="nav nav-sidebar">
                <li><a href="#">My Devices <span class="sr-only">(current)</span></a></li>
                    {% for device in listOfDevices %}
                        <li id="device" ><a href = "/accounts/loggedin/{{device.id}}/"> {{ device }} </a> </li>
                    {% endfor %}
              </ul>

        </div>
      </div>
    </div>
