 <div class = "modal fade" id= "#modal-1">
      <div class = "modal-dialog ">
          <div class ="modal-content">
              <div class="modal-header">
                  <button type = "button" class="close" data-dismiss="modal">&times;</button>
                  <h3 class="modal-title">Edit your devices</h3>
              </div>
                  <div>
                      <form action = "/accounts/profile/editdevice/" method = "post" > {% csrf_token %}
                          <div class="modal-body">

                              <p>Are you sure you want to edit stuff? </p>

                              {{ edit_device_form.non_field_errors }}

                              {{ edit_device_form.devices.errors }}
                              <label> Device : </label>
                              {{ device }}

                              {{edit_device_form.new_device_name.errors}}
                              <label> Chose a new name : </label>
                              {{ edit_device_form.new_device_name}}

                          </div>
                          <div class="modal-footer">
                              <a href = "" class ="btn btn-default" data-dismiss="modal">Cancel</a>
                              <button class="btn btn-info" type="submit" value="Delete">EditDevice</button>
                          </div>

                      </form>
                  </div>
          </div>
      </div>
  </div>
 </div>
