{% extends 'layout/layout_platform.html' %}

{% load staticfiles %}

{% block head %}

     <link href = "{% static 'css/oneDevice_dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

        <div class = "container-fluid" id = "dashboard-content">


          <!-- top tiles -->
          <div class="container-fluid">
          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-signal" aria-hidden="true"></i> Device Status</span>
              <div class="count" id = "deviceStatus"></div>

            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-compass" aria-hidden="true"></i> Location </span>
              <div id="rssi-indicator" class="count"></div>
              <span class="count_bottom"><i class="fa fa-sort-asc"></i><i id = "rssi"></i> dBm RSSI</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-sun-o" aria-hidden="true"></i> Lighting</span>
              <div  class="count"><span id="light_indicator_bottom" class="count"></span>     <span class="count"><i id = "light-circle" class="fa fa-circle" aria-hidden="true"></i></span></div>
              
              <span class="count_bottom"><i class="fa fa-sort-asc"></i><span id= "live_light"></span></span>
            </div> 
            <!--<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">

              <span class="count_top"><i class="fa fa-pencil" aria-hidden="true"></i> Weekly Entries</span>
              <div class="count">{{ weekly_entries }} </div>
              <span class="count_bottom"><i class="fa fa-sort-asc"></i>{{ weekly_entries_delta }} %  From last Week</span>

            </div>-->
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-tablet" aria-hidden="true"></i> Autonomy </span>
              <div class="count live-tile-count">{{ autonomy }} hours</div>
              <span class="count_bottom"><i class="fa fa-sort-asc"></i>time until device is off </i> </span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-battery-half" aria-hidden="true"></i> Battery Level</span>
              <div class="count" id = "batteryvalue"></div>
              <span class="count_bottom"><i class="fa fa-sort-asc"></i><span id= "light_indicator"></span> Light Exposure</span>
              
            </div>
          </div>


          

            <div class="container-fluid">
                <div class = "row">
                        <div class="col-md-4">
                            <div class="box box-gray">
                            <div class="box-header with-border">
                                <h3 class="box-title title">Temperature</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                <div class = "gauge-section">
                                <canvas id="temperaturegauge" class="gauge" height="105"></canvas>
                                <label id = "temperaturevalue" class = "labels"></label>
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                                <div class="box box-gray">
                                    <div class="box-header with-border">
                                        <h3 class="box-title title">Humidity</h3>

                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body no-padding">
                                        <div class = "gauge-section">
                                            <p id = "humidityvalue" class = "gaugevalue"></p>
                                            <canvas id="humiditygauge" class = "gauge" ></canvas>
                                       </div>
                                    </div>
                                </div>
                        </div>

                        <div class="col-md-4">
                            <div class="box box-gray">
                                    <div class="box-header with-border">
                                        <h3 class="box-title title">Pressure</h3>

                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body no-padding">
                                        <div class = "gauge-section">
                                            <canvas id="pressuregauge" class="gauge" height="105"></canvas>
                                            <label id = "pressurevalue" class = "labels"> Pressure </label>
                                        </div>

                                    </div>
                                </div>
                         </div>


                </div>
            </div>



            </div>


            <div class = "container-fluid">
                <div class = "row">
                    <div class="box box-gray">
                            <div class="box-header with-border">
                                <h3 class="box-title title">Temperature data (Celsius)</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                 <div id = "column-wrap">
                                    <div class="col-md-9">
                                        <div >
                                            <canvas id="temperaturelinechart" height="120" padding-top = "30px"></canvas>
                                        </div>
                                        
                                    </div>
                                     <div class="col-md-2">
                                      <div class="pad box-pane-right box-pane-meteo" style="min-height: 380px">
                                        <div class="description-block margin-bottom">
                                          <div class="sparkbar pad" data-color="#fff"><i class="fa fa-chevron-circle-up big-fa-fa" aria-hidden="true"></i></div>
                                          <h5 class="description-header" id = "temperature-high" >{{ daily_temp_max }} °C</h5>
                                          <span class="description-text">DAILY HIGH</span>
                                        </div>
                                        <!-- /.description-block -->
                                        <div class="description-block margin-bottom">
                                          <div class="sparkbar pad" data-color="#fff"><i class="fa fa-minus-circle big-fa-fa" aria-hidden="true"></i></div>
                                          <h5 class="description-header" id = "temperature-avg">{{ daily_temp_avrg }} °C</h5>
                                          <span class="description-text">DAILY AVERAGE</span>
                                        </div>
                                        <!-- /.description-block -->
                                        <div class="description-block">
                                          <div class="sparkbar pad" data-color="#fff"><i class="fa fa-chevron-circle-down big-fa-fa" aria-hidden="true"></i></div>
                                           <h5 class="description-header" id = "temperature-low">{{ daily_temp_min }} °C</h5>
                                          <span class="description-text">DAILY LOW</span>
                                        </div>
                                        <!-- /.description-block -->
                                      </div>
                                    </div>
                                 </div>
                            </div>
                    </div>



                    
                    </div>
                </div>

              <div class = "container-fluid">
                <div class = "row">
                    <div class="col-md-12">
                    <div class="box box-gray">
                            <div class="box-header with-border">
                                <h3 class="box-title title">Accelerometer data</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                 <div id = "column-wrap">
                                    <div class="col-md-9 item">
                                        <div id = "accelerometer-chart">
                                            <canvas id="acccelerometerlinechart" height="120" ></canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="live-acceleration">
                                        <p class = "title">Live Acceleration</p> <!--when time comes, add a span under div id (segments) for screen reader enabling-->
                                        <div>
                                          <p class = "data-info" id="accxvalue"></p>
                                          <div class="progress">
                                              <div id = "firstSegment_progress_x" class="gray-zone" role="progressbar" style="width: 0%"></div>
                                              <div id = "secondSegment_progress_x" class="progress-bar-orange" role="progressbar" style="width: 0%"></div>
                                              <div id = "thirdSegment_progress_x" class="gray-zone" role="progressbar"  style="width: 100%"></div>
                                          </div>
                                        </div>

                                        <div>
                                          <p class = "data-info" id="accyvalue"></p>
                                          <div class = "data_progress_y"></div>
                                          <div class="progress">
                                              <div id = "firstSegment_progress_y" class="progress-bar progress-bar-green gray-zone" role="progressbar" style="width: 0%"></div>
                                              <div id = "secondSegment_progress_y" class="progress-bar progress-bar-green" role="progressbar" style="width: 0%"></div>
                                              <div id = "thirdSegment_progress_y" class="progress-bar progress-bar-green gray-zone" role="progressbar"  style="width: 100%"></div>
                                          </div>
                                        </div>

                                        <div>
                                          <p class = "data-info" id="acczvalue"></p>
                                          <div class="progress">
                                              <div id = "firstSegment_progress_z" class="progress-bar progress-bar-blue gray-zone" role="progressbar" style="width: 0%"></div>
                                              <div id = "secondSegment_progress_z" class="progress-bar progress-bar-blue" role="progressbar" style="width: 0%"></div>
                                              <div id = "thirdSegment_progress_z" class="progress-bar progress-bar-blue gray-zone" role="progressbar"  style="width: 100%"></div>
                                          </div>
                                        </div>

                                        <div>
                                            <p class = "data-info">Total Acceleration: </p>
                                            <p class="data-info" id="totalaccelerationvalue"></p>


                                        </div>
                                    </div>
                                 </div>
                            </div>
                    </div>
                    </div>
                </div>
            </div>

            
            




    <div id="console-event"></div>
    </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


{% endblock %}

{% block content1 %}
    <script> //need to secure these later on
    var deviceId = "{{deviceId}}";
    var temperaturelist = "{{temperaturelist}}";
    var accxlist = "{{accxlist}}";
    var accylist = "{{accylist}}";
    var acczlist = "{{acczlist}}";
    //var avrg_per_min_daily = {{ entries_last_minute|safe }};


    </script>

    <script src="{% static 'js/Chart.bundle.min.js' %}"></script>
    <script src = "{% static 'js/gauge.min.js' %}"></script>
    <script src="{% static 'js/dygraph-combined.js' %}"></script>
    <script src = "{% static 'js/dygraph-combined-dev.js' %}"></script>
    <script src = "{% static 'js/bootstrap-toggle.min.js' %}"></script>
    <script src = "{% static 'js/jquery.matchHeight-min.js' %}"></script>
    <script src = "{% static 'js/leftside_device_list.js' %}"></script>

    <script src = "{% static 'js/oneDevice_dashboard.js' %}"></script>


{% endblock content1 %}