{% extends 'layout/layout_platform.html' %}

{% load staticfiles %}

{% block head %}


     <link href = "{% static 'css/oneDevice_historical_dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}


<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->


    <!-- Main content -->
    <section class="content">
    <div class = "container-fluid my-cont" id = "dashboard-content">
            <div class = "container-fluid">
                <div class = "row">
                    <div class="col-md-12">
                      <div class="row top_tiles">
                      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                          <div class="icon"><i class="fa fa-calendar-o" aria-hidden="true"></i></div>
                          <div class="count" id="inception">{{ inception }}</div>
                          <h3>Inception</h3>
                          <br>

                        </div>
                      </div>
                      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                          <div class="icon"><i class="fa fa-signal" aria-hidden="true"></i></div>
                          <div class="count text-primary">{{ device.deviceStatus }}</div>
                          <h3>Device Status</h3>
                          <br>

                        </div>
                      </div>
                      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                          <div class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                          <div class="count text-primary">{{ weekly_entries }}</div>
                          <h3>Weekly entries</h3>
                          <p><br></p>

                        </div>
                      </div>
                      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                          <div class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                          <div class="count text-primary">{{ total_entries }}</div>
                          <h3>Total entries</h3>
                          <br>

                        </div>
                      </div>
                    </div>
                    </div>
                 </div>
            </div>


<div class = "container-fluid">
                <div class = "row">
                    <div class="col-md-12">
                        <div class="box box-green">
                            <div class="box-header with-border no-padding">
                                <p class = "graph-label">Weather Evolution</p>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                <div class = "row">
                                    <div class = "col-md-9 graph-col">
                                        <div class = "dy-chart" id="meteo_historical_linechart"></div>
                 
                                    </div>
                                    <div class="col-md-2">
                                      <div class="pad box-pane-right box-pane-meteo" style="min-height: 380px">
                                        <div class="description-block margin-bottom">
                                          <div class="sparkbar pad" data-color="#fff"><i class="fa fa-chevron-circle-up fa-3x" aria-hidden="true"></i></div>
                                          <h5 class="description-header" id = "temperature-high" >Temperature: 45*C</h5>
                                          <h5 class="description-header" id = "humidity-high">Humidity: 75*C</h5>
                                          <span class="description-text">HIGH</span>
                                        </div>
                                        <!-- /.description-block -->
                                        <div class="description-block margin-bottom">
                                          <div class="sparkbar pad" data-color="#fff"><i class="fa fa-minus-circle fa-3x" aria-hidden="true"></i></div>
                                          <h5 class="description-header" id = "temperature-avg">Temperature: 45*C</h5>
                                          <h5 class="description-header" id = "humidity-avg" >Humidity: 45*C</h5>
                                          <span class="description-text">AVERAGE</span>
                                        </div>
                                        <!-- /.description-block -->
                                        <div class="description-block">
                                          <div class="sparkbar pad" data-color="#fff"><i class="fa fa-chevron-circle-down fa-3x" aria-hidden="true"></i></div>
                                           <h5 class="description-header" id = "temperature-low">Temperature: 45*C</h5>
                                           <h5 class="description-header" id = "humidity-low" >Humidity: 45*C</h5>
                                          <span class="description-text">LOW</span>
                                        </div>
                                        <!-- /.description-block -->
                                      </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class = "col-md-5 col-md-offset-4">
                                    <div class="center btn-toolbar" role="toolbar" aria-label="...">
    <!--ATTENTION ne pas changer la position de la 4e classe, ca va affecter les controleur dans le javascript -->
                                        <button id ="day-meteo" type="button" class="btn btn-default meteo-button day">1D</button>
                                        <button id = "week-meteo" type="button" class="btn btn-default meteo-button week">1W</button>
                                        <button id = "month-meteo" type="button" class="btn btn-default meteo-button month">1M</button>
                                        <button id = "year-meteo" type="button" class="btn btn-default meteo-button year">1Y</button>
                                        <button id = "max-meteo" type="button" class="btn btn-default meteo-button max">Max</button>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

                 </div>

            
            <div class = "container-fluid">
                <div class = "row">
                    <div class="col-md-12">
                        <div class="box box-green">
                            <div class="box-header with-border no-padding">
                                <p class = "graph-label">Pressure Evolution</p>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                <div class = "row">

                                   

                                    <div class = "col-md-9 graph-col">
                                        <div class = "dy-chart" id="pressure_historical_linechart"></div>
                                   
                                    </div>

                                     <div class="col-md-2">
                                      <div class="pad box-pane-right box-pane-whiteblue" style="min-height: 380px">
                                        <div class="description-block margin-bottom">
                                          <div class="sparkbar pad" data-color="#fff"><i class="fa fa-chevron-circle-up fa-3x" aria-hidden="true"></i></div>
                                          <h5 class="description-header" id="pressure-high"></h5>
                                          <span class="description-text">HIGH</span>
                                        </div>
                                        <!-- /.description-block -->
                                        <div class="description-block margin-bottom">
                                          <div class="sparkbar pad" data-color="#fff"><i class="fa fa-minus-circle fa-3x" aria-hidden="true"></i></div>
                                          <h5 class="description-header" id="pressure-avg"></h5>
                                          <span class="description-text">AVERAGE</span>
                                        </div>
                                        <!-- /.description-block -->
                                        <div class="description-block">
                                          <div class="sparkbar pad" data-color="#fff"><i class="fa fa-chevron-circle-down fa-3x" aria-hidden="true"></i></div>
                                          <h5 class="description-header" id="pressure-low"></h5>
                                          <span class="description-text">LOW</span>
                                        </div>
                                        <!-- /.description-block -->
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                      <div class = "col-md-5 col-md-offset-4">
                                     <div class="center btn-toolbar" role="toolbar" aria-label="...">
     <!--ATTENTION ne pas changer la position de la 4e classe, ca va affecter les controleur dans le javascript -->
                                        <button id ="day-pressure" type="button" class="btn btn-default pressure-button day">1D</button>
                                        <button id = "week-pressure" type="button" class="btn btn-default pressure-button week">1W</button>
                                        <button id = "month-pressure" type="button" class="btn btn-default pressure-button month">1M</button>
                                        <button id = "year-pressure" type="button" class="btn btn-default pressure-button year">1Y</button>
                                        <button id = "max-pressure" type="button" class="btn btn-default pressure-button max">Max</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            



            <div class = "container-fluid">
                <div class = "row">
                    <div class="col-md-12">
                        <div class="box box-green">
                            <div class="box-header with-border no-padding">
                                <p class = "graph-label">Accelerometer Evolution</p>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                <div class = "row">
                                    <div class = "col-md-11 graph-col">
                                        <div class = "dy-chart" id="accelerometer_historical_linechart"></div>
                                     </div>
                                </div>
                            <div class="row">
                                <div class = "col-md-5 col-md-offset-4">
                                    <div class="center btn-toolbar" role="toolbar" aria-label="...">
     <!--ATTENTION ne pas changer la position de la 4e classe, ca va affecter les controleur dans le javascript -->
                                       <button id ="day-accelerometer" type="button" class="btn btn-default accelerometer-button day">1D</button>
                                       <button id = "week-accelerometer" type="button" class="btn btn-default accelerometer-button week">1W</button>
                                       <button id = "month-accelerometer" type="button" class="btn btn-default accelerometer-button month">1M</button>
                                       <button id = "year-accelerometer" type="button" class="btn btn-default accelerometer-button year">1Y</button>
                                       <button id = "max-accelerometer" type="button" class="btn btn-default accelerometer-button max">Max</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

    </div>

    <div class = "container-fluid">
                <div class = "row">
                    <div class="col-md-12">
                        <div class="box box-green">
                            <div class="box-header with-border no-padding">
                                <p class = "graph-label">Energy Consumption</p>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                <div class = "row">
                                    <div class = "col-md-11 graph-col">
                                        <div class = "dy-chart" id="battery_historical_linechart"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class = "col-md-5 col-md-offset-4">
                                        <div class="center btn-toolbar" role="toolbar" aria-label="...">
  <!--ATTENTION ne pas changer la position de la 4e classe, ca va affecter les controleur dans le javascript -->
                                                   <button id ="day-energy" type="button" class="btn btn-default energy-button day">1D</button>
                                                   <button id = "week-energy" type="button" class="btn btn-default energy-button week">1W</button>
                                                   <button id = "month-energy" type="button" class="btn btn-default energy-button month">1M</button>
                                                   <button id = "year-energy" type="button" class="btn btn-default energy-button year">1Y</button>
                                                   <button id = "max-energy" type="button" class="btn btn-default energy-button max">Max</button>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


{% endblock %}

{% block content1 %}

    <script> //need to secure these later on

    var deviceId = "{{deviceId}}";

    </script>


    <script src="http://cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script>
    <script src = "http://cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined-dev.js"></script>
    <script src = "{% static 'js/oneDevice_historical_dashboard.js' %}"></script>

{% endblock content1 %}