{% extends 'layout/layout_platform.html' %}

{% load staticfiles %}

{% block head %}

     <link href = "{% static 'css/oneDevice_dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Live Dashboard
        <small>{{ deviceName }}</small>
      </h1>



      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class = "container-fluid" id = "dashboard-content">



            <div class = "container-fluid">
                <div class = "row">
                   <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-calendar-o" aria-hidden="true"></i></span>

                        <div class="info-box-content">
                          <span class="info-box-text">DATE</span>
                          <span class="info-box-number" id = "currentDate"></span>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-exchange" aria-hidden="true"></i></span>

                        <div class="info-box-content">
                          <span class="info-box-text">DATA TRANSFER</span>
                          <span class="info-box-number"> 2453.4 entries/min </span>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-compass" aria-hidden="true"></i></span>

                        <div class="info-box-content">
                          <span class="info-box-text">LOCATION</span>
                          <span class="info-box-number"> Far </span>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                    </div>



                    <div class="col-md-3 col-sm-6 col xs-12">
                      <!-- small box -->
                      <div class="small-box bg-aqua">
                        <div class="inner">
                          <h3>45%</h3>

                          <p>Battery Level</p>
                        </div>
                        <div class="icon">
                          <i class="fa fa-battery-full" aria-hidden="true"></i>
                        </div>
                        <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
                      </div>
                    </div>
                    <!-- ./col -->




                </div>
            </div>


            <div class = "container-fluid">
                <div class = "row">
                    <div class="col-md-12">
                    <div class="box box-info box-accelerometer">
                            <div class="box-header with-border">
                                <h3 class="box-title title">Accelerometer data</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                 <div id = "column-wrap">
                                    <div class="col-md-8 item">
                                        <div id = "accelerometer-chart">
                                            <canvas id="acccelerometerlinechart" height="110" ></canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-4" id="live-acceleration">
                                        <p class = "title">Live Acceleration</p> <!--when time comes, add a span under div id (segments) for screen reader enabling-->
                                        <div>
                                          <p class = "data-info" id="accxvalue"></p>
                                          <div class="progress">
                                              <div id = "firstSegment_progress_x" class="progress-bar progress-bar-success gray-zone" role="progressbar" style="width: 0%"></div>
                                              <div id = "secondSegment_progress_x" class="progress-bar progress-bar-success" role="progressbar" style="width: 0%"></div>
                                              <div id = "thirdSegment_progress_x" class="progress-bar progress-bar-success gray-zone" role="progressbar"  style="width: 100%"></div>
                                          </div>
                                        </div>

                                        <div>
                                          <p class = "data-info" id="accyvalue"></p>
                                          <div class = "data_progress_y"></div>
                                          <div class="progress">
                                              <div id = "firstSegment_progress_y" class="progress-bar progress-bar-success gray-zone" role="progressbar" style="width: 0%"></div>
                                              <div id = "secondSegment_progress_y" class="progress-bar progress-bar-success" role="progressbar" style="width: 0%"></div>
                                              <div id = "thirdSegment_progress_y" class="progress-bar progress-bar-success gray-zone" role="progressbar"  style="width: 100%"></div>
                                          </div>
                                        </div>

                                        <div>
                                          <p class = "data-info" id="acczvalue"></p>
                                          <div class="progress">
                                              <div id = "firstSegment_progress_z" class="progress-bar progress-bar-success gray-zone" role="progressbar" style="width: 0%"></div>
                                              <div id = "secondSegment_progress_z" class="progress-bar progress-bar-success" role="progressbar" style="width: 0%"></div>
                                              <div id = "thirdSegment_progress_z" class="progress-bar progress-bar-success gray-zone" role="progressbar"  style="width: 100%"></div>
                                          </div>
                                        </div>

                                        <div>
                                            <p class = "data-info">Total Acceleration: </p>
                                            <p class="data-info" id="totalaccelerationvalue"></p>


                                        </div>
                                    </div>
                                 </div>
                            </div>
                    </div>
                    </div>
                </div>
            </div>


            <div class="container-fluid">
                <div class = "row">
                        <div class="col-md-4">
                            <div class = "panel panel-info">
                                <div class="panel-body">
                                    <p id = "batteryvalue" class = "gaugevalue"></p>
                                    <canvas id="batterygauge" class = "gauge" ></canvas>
                                    <label class = "labels"> Battery Level </label>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class = "panel panel-info">
                                <div class="panel-body">
                                    <p id = "humidityvalue" class = "gaugevalue"></p>
                                    <canvas id="humiditygauge" class = "gauge" ></canvas>
                                    <label class = "labels"> Humidity </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class = "panel panel-info">
                                <div class="panel-body">
                                    <p id = "pressurevalue" class="gaugevalue-withpointer"></p>
                                    <canvas id="pressuregauge" class="gauge" height="105"></canvas>
                                    <label class = "labels"> Pressure </label>
                                </div>
                            </div>
                        </div>

                </div>
            </div>



            <div class = "container-fluid">
                <div class = "row">
                    <div class = "col-md-4">
                        <div class="panel panel-info">
                          <div class="panel-body">
                              <p id = "temperaturevalue" class="gaugevalue-withpointer"></p>
                              <canvas id="temperaturegauge" class="gauge" height="105"></canvas>
                              <label class = "labels"> Temperature </label>
                          </div>
                        </div>
                        <div class="panel panel-info">
                          <div class="panel-body">
                              <span class="glyphicon glyphicon-lamp" aria-hidden="true"></span>
                              <span class = "top-labels"> Ambiant light </span>
                              <p class = "data-info">Light level : High </p>
                              <p class="data-info">345.66 Lux</p>

                          </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="panel panel-info">
                          <div class="panel-body">
                              <canvas id="temperaturelinechart" width="250" height="135"></canvas>
                          </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>


    <div id="console-event"></div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


{% endblock %}

{% block content1 %}
    <script> //need to secure these later on
    var deviceId = "{{deviceId}}";
    var temperaturelist = "{{temperaturelist}}";
    var accxlist = "{{accxlist}}";
    var accylist = "{{accylist}}";
    var acczlist = "{{acczlist}}";

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
    <script src = "http://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script>
    <script src = "http://cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined-dev.js"></script>
    <script src = "{% static 'js/bootstrap-toggle.min.js' %}"></script>
    <script src = "{% static 'js/jquery.matchHeight-min.js' %}"></script>
    <script src = "{% static 'js/leftside_device_list.js' %}"></script>

    <script src = "{% static 'js/oneDevice_dashboard.js' %}"></script>


{% endblock content1 %}