{% extends 'layout/layout1.html' %}

{% load staticfiles %}

{% block head %}
     <link href = "{% static 'css/dashboard.css' %}" rel="stylesheet">
     <link href = "{% static 'css/oneDevice_dashboard.css' %}" rel="stylesheet">
     <link href = "{% static 'css/bootstrap-toggle.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

    {% include "navbar_loggedin.html" %}

    {% include "userprofile/leftside_device_list.html" %}

    <div class = "container-fluid" id = "dashboard-content">

            <div class = "container-fluid">
                <div class = "row">
                    <div class = "col-md-3">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            <span class = "top-labels" id = "currentDate"></span>
                          </div>
                        </div>
                    </div>
                    <div class = "col-md-3">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
                            <span class = "top-labels"> 2453.4 entries/min</span>

                          </div>
                        </div>
                    </div>
                    <div class = "col-md-3">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                            <span class = "top-labels"> Distance: Far</span>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="btn-group btn-group-lg" role="group" aria-label="...">
                             <a href = "#" type="button" role = "button" class="btn btn-default btn-dashboard active">Live</a>
                            <a href = "/accounts/loggedin/{{deviceId}}/historicalDashboard" type="button" role = "button" class="btn btn-default btn-dashboard">Historical</a>
                        </div>
                    </div>


                </div>
            </div>


            <div class = "container-fluid">
                <div class = "row">
                    <div class="col-md-9">
                        <div class="panel panel-info">
                          <div class="panel-body">
                            <canvas id="acccelerometerlinechart" height = "135"></canvas>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class = "panel panel-info">
                            <div class="panel-body">
                                <p class = "title">Live Acceleration</p> <!--when time comes, add a span under div id (segments) for screen reader enabling-->
                                <div>
                                  <p class = "data-info" id="accxvalue"></p>
                                  <div class="progress">
                                      <div id = "firstSegment_progress_x" class="progress-bar progress-bar-success gray-zone" role="progressbar" style="width: 0%"></div>
                                      <div id = "secondSegment_progress_x" class="progress-bar progress-bar-success" role="progressbar" style="width: 0%"></div>
                                      <div id = "thirdSegment_progress_x" class="progress-bar progress-bar-success gray-zone" role="progressbar"  style="width: 100%"></div>
                                  </div>
                                </div>

                                <div>
                                  <p class = "data-info" id="accyvalue"></p>
                                  <div class = "data_progress_y"></div>
                                  <div class="progress">
                                      <div id = "firstSegment_progress_y" class="progress-bar progress-bar-success gray-zone" role="progressbar" style="width: 0%"></div>
                                      <div id = "secondSegment_progress_y" class="progress-bar progress-bar-success" role="progressbar" style="width: 0%"></div>
                                      <div id = "thirdSegment_progress_y" class="progress-bar progress-bar-success gray-zone" role="progressbar"  style="width: 100%"></div>
                                  </div>
                                </div>

                                <div>
                                  <p class = "data-info" id="acczvalue"></p>
                                  <div class="progress">
                                      <div id = "firstSegment_progress_z" class="progress-bar progress-bar-success gray-zone" role="progressbar" style="width: 0%"></div>
                                      <div id = "secondSegment_progress_z" class="progress-bar progress-bar-success" role="progressbar" style="width: 0%"></div>
                                      <div id = "thirdSegment_progress_z" class="progress-bar progress-bar-success gray-zone" role="progressbar"  style="width: 100%"></div>
                                  </div>
                                </div>

                                <div>
                                    <p class = "data-info">Total Acceleration: </p>
                                    <p class="data-info" id="totalaccelerationvalue"></p>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-fluid">
                <div class = "row">
                        <div class="col-md-4">
                            <div class = "panel panel-info">
                                <div class="panel-body">
                                    <p id = "batteryvalue" class = "gaugevalue"></p>
                                    <canvas id="batterygauge" class = "gauge" ></canvas>
                                    <label class = "labels"> Battery Level </label>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class = "panel panel-info">
                                <div class="panel-body">
                                    <p id = "humidityvalue" class = "gaugevalue"></p>
                                    <canvas id="humiditygauge" class = "gauge" ></canvas>
                                    <label class = "labels"> Humidity </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class = "panel panel-info">
                                <div class="panel-body">
                                    <p id = "pressurevalue" class="gaugevalue-withpointer"></p>
                                    <canvas id="pressuregauge" class="gauge" height="105"></canvas>
                                    <label class = "labels"> Pressure </label>
                                </div>
                            </div>
                        </div>

                </div>
            </div>



            <div class = "container-fluid">
                <div class = "row">
                    <div class = "col-md-4">
                        <div class="panel panel-info">
                          <div class="panel-body">
                              <p id = "temperaturevalue" class="gaugevalue-withpointer"></p>
                              <canvas id="temperaturegauge" class="gauge" height="105"></canvas>
                              <label class = "labels"> Temperature </label>
                          </div>
                        </div>
                        <div class="panel panel-info">
                          <div class="panel-body">
                              <span class="glyphicon glyphicon-lamp" aria-hidden="true"></span>
                              <span class = "top-labels"> Ambiant light </span>
                              <p class = "data-info">Light level : High </p>
                              <p class="data-info">345.66 Lux</p>

                          </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="panel panel-info">
                          <div class="panel-body">
                              <canvas id="temperaturelinechart" width="250" height="135"></canvas>
                          </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>





    </div>

    <div id="console-event"></div>

    <div id = "devicedata">
        <!--
        <h2>Hi {{full_name}} ! Here is your device data</h2>
        <p> {{live_battery}} </p>

        <p> Real live battery </p>
        <div id = "output">
        </div>


        <div id = "batterySection" class = "dataSection">
		<p> Battery level </p>
		<p id = "batteryValue" class = "values"></p>
		<canvas id="pieBattery" width="250" height="250"></canvas>
	    </div>-->



        <div id="graphdiv"></div>

        <!--
        <p> {{deviceId}} </p>

        <p> {{deviceNb}} </p>
        <p> {{deviceType}} </p>
        <p> {{deviceName}} </p>

        {% for entry in device_entries %}
            <li>{{entry}}</li>
        {% endfor %}-->
    </div>


{% endblock %}

{% block content1 %}
<!--Put the script at the end of the body for speed-->
    <script> //need to secure these later on
    var deviceId = "{{deviceId}}";
    var temperaturelist = "{{temperaturelist}}";
    var accxlist = "{{accxlist}}";
    var accylist = "{{accylist}}";
    var acczlist = "{{acczlist}}";

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
    <script src = "http://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script>
    <script src = "http://cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined-dev.js"></script>
    <script src = "{% static 'js/bootstrap-toggle.min.js' %}"></script>
    <script src = "{% static 'js/leftside_device_list.js' %}"></script>
    <script src = "{% static 'js/oneDevice_dashboard.js' %}"></script>


{% endblock content1 %}