{% extends 'layout/layout1.html' %}

{% load staticfiles %}

{% block head %}
     <link href = "{% static 'css/dashboard.css' %}" rel="stylesheet">
     <link href = "{% static 'css/oneDevice_dashboard.css' %}" rel="stylesheet">
     <link href = "{% static 'css/bootstrap-toggle.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

    {% include "navbar_loggedin.html" %}

    {% include "userprofile/leftside_device_list.html" %}

    <div class = "container-fluid" id = "dashboard-content">

            <div class = "container-fluid">
                <div class = "row">
                    <div class="col-md-12">
                        <div class = "pull-right">
                        <input id = "toggle-event" class = "pull-right" type="checkbox" checked data-toggle="toggle"
                               data-on="Live<br>Dashboard" size = "large" data-off="Historical<br>Dashboard"
                               data-onstyle="success" data-offstyle="info" data-width="130" >
                        </div>

                    </div>
                </div>
            </div>


            <div class = "container-fluid">
                <div class = "row">
                    <div class="col-md-9">
                        <div class="panel panel-info">
                          <div class="panel-body">
                            <canvas id="acccelerometerlinechart" height = "135"></canvas>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class = "panel panel-info">
                            <div class="panel-body">
                                <p class = "title">Live Acceleration</p> <!--when time comes, add a span under div id (segments) for screen reader enabling-->
                                <div>
                                  <p class = "data-info" id="accxvalue"></p>
                                  <div class="progress">
                                      <div id = "firstSegment_progress_x" class="progress-bar progress-bar-success gray-zone" role="progressbar" style="width: 0%"></div>
                                      <div id = "secondSegment_progress_x" class="progress-bar progress-bar-success" role="progressbar" style="width: 0%"></div>
                                      <div id = "thirdSegment_progress_x" class="progress-bar progress-bar-success gray-zone" role="progressbar"  style="width: 100%"></div>
                                  </div>
                                </div>

                                <div>
                                  <p class = "data-info" id="accyvalue"></p>
                                  <div class = "data_progress_y"></div>
                                  <div class="progress">
                                      <div id = "firstSegment_progress_y" class="progress-bar progress-bar-success gray-zone" role="progressbar" style="width: 0%"></div>
                                      <div id = "secondSegment_progress_y" class="progress-bar progress-bar-success" role="progressbar" style="width: 0%"></div>
                                      <div id = "thirdSegment_progress_y" class="progress-bar progress-bar-success gray-zone" role="progressbar"  style="width: 100%"></div>
                                  </div>
                                </div>

                                <div>
                                  <p class = "data-info" id="acczvalue"></p>
                                  <div class="progress">
                                      <div id = "firstSegment_progress_z" class="progress-bar progress-bar-success gray-zone" role="progressbar" style="width: 0%"></div>
                                      <div id = "secondSegment_progress_z" class="progress-bar progress-bar-success" role="progressbar" style="width: 0%"></div>
                                      <div id = "thirdSegment_progress_z" class="progress-bar progress-bar-success gray-zone" role="progressbar"  style="width: 100%"></div>
                                  </div>
                                </div>

                                <div>
                                    <p class = "data-info">Total Acceleration: </p>
                                    <p class="data-info" id="totalaccelerationvalue"></p>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-fluid">
                <div class = "row">
                        <div class="col-md-4">
                            <div class = "panel panel-info">
                                <div class="panel-body">
                                    <p id = "batteryvalue" class = "gaugevalue"></p>
                                    <canvas id="batterygauge" class = "gauge" ></canvas>
                                    <label class = "labels"> Battery Level </label>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class = "panel panel-info">
                                <div class="panel-body">
                                    <p id = "humidityvalue" class = "gaugevalue"></p>
                                    <canvas id="humiditygauge" class = "gauge"></canvas>
                                    <label class = "labels"> Humidity </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class = "panel panel-info">
                                <div class="panel-body">
                                    <p id = "pressurevalue" class="gaugevalue-pressure"></p>
                                    <canvas id="pressuregauge" class="gauge" ></canvas>
                                    <label class = "labels"> Pressure </label>
                                </div>
                            </div>
                        </div>

                </div>
            </div>



            <div class = "container-fluid">
                <div class = "row">
                    <div class="col-md-8">
                        <div class="panel panel-info">
                          <div class="panel-body">
                              <canvas id="temperaturelinechart" width="250" height="150"></canvas>
                          </div>
                        </div>
                    </div>
                </div>
            </div>





    </div>

    <div id="console-event"></div>

    <div id = "devicedata">
        <!--
        <h2>Hi {{full_name}} ! Here is your device data</h2>
        <p> {{live_battery}} </p>

        <p> Real live battery </p>
        <div id = "output">
        </div>


        <div id = "batterySection" class = "dataSection">
		<p> Battery level </p>
		<p id = "batteryValue" class = "values"></p>
		<canvas id="pieBattery" width="250" height="250"></canvas>
	    </div>-->



        <div id="graphdiv"></div>

        <!--
        <p> {{deviceId}} </p>

        <p> {{deviceNb}} </p>
        <p> {{deviceType}} </p>
        <p> {{deviceName}} </p>

        {% for entry in device_entries %}
            <li>{{entry}}</li>
        {% endfor %}-->
    </div>


{% endblock %}

{% block content1 %}
<!--Put the script at the end of the body for speed-->
    <script> //need to secure these later on
    var deviceId = "{{deviceId}}";
    var temperaturelist = "{{temperaturelist}}";
    var accxlist = "{{accxlist}}";
    var accylist = "{{accylist}}";
    var acczlist = "{{acczlist}}";

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
    <script src = "http://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script>
    <script src = "http://cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined-dev.js"></script>
    <script src = "{% static 'js/bootstrap-toggle.min.js' %}"></script>
    <script src = "{% static 'js/leftside_device_list.js' %}"></script>
    <script src = "{% static 'js/oneDevice_dashboard.js' %}"></script>


{% endblock content1 %}