body{
    margin-top: 85px;
}

.navbar {
  margin-bottom: 20px;
}

#username_on_navbar{
  font-weight: bold;
}

.nav-logged-out{
    background: -webkit-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
    background-image: -webkit-linear-gradient(-65deg, rgb(0, 143, 226) 0px, rgb(0, 178, 156) 100%);
    min-height: 65px;

}

.logo-logged-out{
    color: white;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    padding-top: 5px;

}

.btn-default{
    background:none;
    background-color:none;
    color:white;
    border-color:white;
    font-size: 17px;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    border-radius: 3px;
    box-shadow: none;

}

